.review-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0px 10px;
}

.review-profile-pic img{
    width: 70px;
    height: 70px;
}

.review-stars{
    color: #0DC964;
    display: flex;
  gap: 5px;
  font-size: 40px;
  cursor: pointer;
}

.star {
  color: #ccc; /* สีเริ่มต้นของดาว */
  transition: color 0.3s ease;
}

.star.selected {
  color: #0DC964; /* สีของดาวที่ถูกเลือก */
}

.star:hover {
  color: #0DC964; /* สีดาวเมื่อวางเมาส์ */
}

.review-goods{
    color: #0DC964;
    font-size: 30px;
}

.review-btn{
    background-color: #0DC964;
    border-radius: 10px;
    color: white;
    padding: 5px 50px;
    cursor: pointer;
    font-size: large;
}


.review-comment{
    background-color: #D3D3D3;
    padding: 20px;
    width: 100%;
    height: 10rem;
    border-radius: 10px;
    border: none;
}